<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="d:\temp\nlog-internal.log">

  <variable name="content" value="${longdate} ${uppercase:${level}}-${threadid} ${callsite:className=true:includeNamespace=true:fileName=true:includeSourcePath=true:methodName=true:} ${message}"/>

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${content}"/>

    <target xsi:type="Mail"
            name="mail"
            html="true"
            layout="${content}"
            to="xx@.com"
            from="xx@qq.com"
            smtpUserName="xx@qq.com"
            enableSsl="true"
            smtpPassword="oxtoscfgohflbbgi"
            smtpServer="smtp.qq.com"
            smtpAuthentication="Basic"
            smtpPort="587"/>

    <target xsi:type="File"
            name="file"
            layout="${content}"
            fileName="${basedir}/logs/${shortdate}-${level}.txt"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console"/>
    <logger name="*" minlevel="Info" writeTo="file"/>
    <logger name="*" minlevel="Error" writeTo="mail"/>
  </rules>
</nlog>
